

.digital_currency_text{
  text-decoration: none;
  text-align: center;
}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }

  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
